:root {
  --main-color: #501c65;
  --secondary-color: #cfacf9;
  --accent-color: #fe477f;
  --white-shade-color: #e9efef;
  --input-bg-color: #d9d9d9;
  --main-font: "Quicksand", sans-serif;
  --ornate-font: "Viaoda Libre", cursive;
  --s-x-small: 12px;
  --s-small: 16px;
  --s-regular: 22px;
  --s-medium: 36px;
  --s-large: 48px;
  --w-light: 300;
  --w-regular: 400;
  --w-medium: 500;
  --w-semi-bold: 600;
  --w-bold: 700;
  --large-screen-margin: 0 60px;
  --laptop-margin: ;
  --tablet-margin: ;
  --mobile-margin: ;
  --btn-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.btn {
  font-family: var(--main-font);
  font-size: var(--s-regular);
  font-weight: var(--w-bold);
  padding: 18px 32px;
}
.btn__primary {
  background-color: transparent;
  border: 4px solid var(--accent-color);
  color: var(--accent-color);
  border-radius: 220px;
  box-shadow: var(--btn-box-shadow);
}
.btn__primary:hover {
  background-color: var(--accent-color);
  color: var(--white-shade-color);
  cursor: pointer;
}
.header {
  width: 100%;
  height: 84px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 3;
}
.header__nav {
  margin: var(--large-screen-margin);
  height: 84px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header__nav__links {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 123px;
}
.header__nav__menu-icon {
  width: 75px;
  padding-left: 24px;
}
.header__nav__menu-icon i {
  color: var(--white-shade-color);
  font-size: var(--s-large);
  text-align: center;
}
.header__nav__link {
  width: 75px;
  display: flex;
  justify-content: center;
  font-family: var(--main-font);
  color: var(--white-shade-color);
  font-size: var(--s-small);
  font-weight: var(--w-regular);
}
.header__nav__link a:active {
  font-weight: var(--w-bold);
}
.header__nav__link a:hover {
  font-weight: var(--w-bold);
  transform: scale(1.1);
  text-decoration: underline;
  cursor: pointer;
}
.footer {
  width: 100%;
  height: 120px;
  //position: fixed;
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--main-color);
  display: flex;
  justify-content: center;
  align-items: center;
}
.footer__container {
  margin: var(--large-screen-margin);
  height: 120px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 222px;
}
.footer__item {
  width: 174px;
  color: var(--white-shade-color);
  font-family: var(--main-font);
  font-size: var(--s-small);
  line-height: 20px;
}
.footer__address, .footer__phone {
  text-align: left;
}
.footer__icons {
  font-size: var(--s-medium);
  display: flex;
  justify-content: space-between;
}
.footer__icon {
  padding: 0 20px;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a,
button,
input,
textarea,
select {
  all: unset;
}

ul,
li {
  list-style-type: none;
}

body {
  display: flex;
  height: 100%;
  overflow: hidden;
}

main {
  background-color: #e9efef;
  position: absolute;
  top: 84px;
  left: 0px;
  width: 100%;
  overflow-y: scroll;
}
main .button {
  border: 3px solid #fe477f;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  border-radius: 220px;
  cursor: pointer;
}
main {
  height: 500px;
}
.contact-form-btn {
  margin: auto;
}
.contact-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 56px;
  gap: 50px;
  height: auto;
}
.contact-container h1 {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  color: #fe477f;
}
.contact-container__information {
  width: 962px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}
.contact-container__information p {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.02em;
}
.contact-container__form {
  width: 962px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.contact-container__form .contact-form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 469px;
  gap: 30px;
}
.contact-container__form .contact-form__field {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}
.contact-container__form .contact-form__field label {
  font-family: "Quicksand";
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  letter-spacing: 0.02em;
  color: #fe477f;
  display: flex;
  align-items: center;
  height: 36px;
}
.contact-container__form .contact-form__field--text-input, .contact-container__form .contact-form__field--email-input {
  height: 42px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 0 10px;
  display: flex;
  align-items: center;
}
.contact-container__form .contact-form__field--text-area {
  height: 168px;
  width: 100%;
  background: #d9d9d9;
  border-radius: 12px;
  box-sizing: border-box;
  padding: 10px 10px;
  display: flex;
  align-items: center;
}
.contact-container__form .contact-form__submit-button {
  height: 56px;
  width: 104px;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
}
.contact-container__form .contact-form-map {
  width: 370px;
  height: 540px;
  margin-top: 36px;
  background: #d9d9d9;
  border-radius: 12px;
}
.contact-form__field--text-input:hover, .contact-form__field--text-area:hover {
  border: .5px solid var(--accent-color);
}
.contact-form__field--text-input:focus, .contact-form__field--text-area:focus {
  border: 3px solid var(--accent-color);

}
.footer__icon:hover {
  color: var(--accent-color);
  cursor: pointer;
}
/*# sourceMappingURL=contact.css.map */